<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sh.dmdao.DmRyJbxxMapper" >
  <resultMap id="BaseResultMap" type="com.sh.model.DmRyJbxx" >
    <result column="RYBH" property="rybh" jdbcType="VARCHAR" />
    <result column="XM" property="xm" jdbcType="VARCHAR" />
    <result column="GMSFHM" property="gmsfzh" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectBySfzh" resultType="com.sh.model.DmRyJbxx" parameterType="java.lang.String" >
    select RYBH, XM where GMSFHM = #{sfzh,jdbcType=VARCHAR}
  </select>
</mapper>